*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: verdana;
 font-size: 20px;
 margin: 30px;
}

.rosso{
 color: red;
 border: 1px solid red;
 height: 200px;
 width: 200px;
 margin: 50px;
}

.verde{
 color:green;
 border: 1px solid green;
 height: 200px;
 width: 200px;
  margin: 50px;
}
